html {
	background: url(band.jpg) 
  no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  }
* {
 padding: 0;
 margin: 0;
 font-family: Trebuchet MS;
}
 
.menu {
 margin: 5px;
 padding: 5px;
text-align: center;
margin-top: 2%;
margin-right: 3%;
}
 
.menu ul li {
 display: inline;      
 padding: 0 5px;
 width: 40px;
}
 
.menu ul li a, a:link, a:visited, a:active {
 color: #FFF;
 text-decoration: none;
 font-weight: bold;
 border-bottom: 3px solid #FFF;
 
}
 
.menu ul li a:hover {
 color: #FFF;
 border-bottom: 5px solid #00ff40;
 border-top:  5px solid #00ff40;
}

.color-overlay {
  width: 50%;
  height: 91%;
  background: grey;
  opacity: .7;
  position: absolute;
  margin-left: 24%;
  border-radius: 20px;
}
.tekst1{
	position: absolute;
	margin-left: 42%;
	margin-top: 2%;
    font-size: 1.3em;
}
.line1{
	width: 40%;
	margin-left: 28%;
	margin-top: 5%;
	background-color: white;
	position: absolute;
	border: 2 solid white; 
	}
	
.teltekst{
	position: absolute;
	margin-left: 42%;
	margin-top: 7%;
    font-size: 1.3em;
	color: #00001a;
}
.telnummer{
	position: absolute;
	margin-left: 47%;
	margin-top: 7%;
    font-size: 1em;
}	
	
.line2{
	width: 40%;
	margin-left: 28%;
	margin-top: 10%;
	background-color: white;
	position: absolute;
	border: 2 solid white; 
}
.site{
	position: absolute;
	margin-left: 41%;
	margin-top: 12%;
    font-size: 1.3em;
}	
.sitelink{
	position: absolute;
	margin-left: 47%;
	margin-top: 12%;
    font-size: 1em;
}
.line3{
	width: 40%;
	margin-left: 28%;
	margin-top: 15%;
	background-color: white;
	position: absolute;
	border: 2 solid white; 
}
.mail{
	position: absolute;
	margin-left: 42%;
	margin-top: 17%;
    font-size: 1.3em;
}	
.maillink{
	position: absolute;
	margin-left: 47%;
	margin-top: 17%;
    font-size: 1em;
}
.mailimgmetlink{
	position: absolute;
	margin-left: 41%;
	margin-top: 37%;
}
.mailimgmetlink :hover{ background-color: white;}

.line4{
	width: 40%;
	margin-left: 28%;
	margin-top: 20%;
	background-color: white;
	position: absolute;
	border: 2 solid white; 
}


.tekst2{
	position: absolute;
	margin-left: 42%;
	margin-top: 22%;
    font-size: 1.4em;
	
}
.line5{
	width: 40%;
	margin-left: 28%;
	margin-top: 25%;
	background-color: white;
	position: absolute;
	border: 2 solid white; 
}
.messengerlink{
	position: absolute;
	margin-left: 47%;
	margin-top: 27%;
    font-size: 1em;
}	
.messenger{
	position: absolute;
	margin-left: 39%;
	margin-top: 27%;
    font-size: 1.3em;
	
}
.line6{
	width: 40%;
	margin-left: 28%;
	margin-top: 30%;
	background-color: white;
	position: absolute;
	border: 2 solid white; 
}	
.facebooklink{
	position: absolute;
	margin-left: 47%;
	margin-top: 32%;
    font-size: 1em;
}	
.facebook{
	position: absolute;
	margin-left: 40%;
	margin-top: 32%;
    font-size: 1.3em;
}
.line7{
	width: 40%;
	margin-left: 28%;
	margin-top: 35%;
	background-color: white;
	position: absolute;
	border: 2 solid white; 
}	
	
	
iframe{
	margin-left: 47%;
	position: absolute;
	margin-top: 37%;
}
.fb-xfbml-parse-ignore{
	margin-left: 50%;
	margin-top: 37%;
}
	

	
	